@{
    ViewBag.Title = "О приложении";
}
<h2>@ViewBag.Title.</h2>

<h3>Для чего нужно приложение?</h3>
<p>Приложение нужно для построения схемы родственных связей.</p>
<h3>Что представляет из себя схема родственных связей?</h3>
<p>Схема представляет набор узлов, представляющих отдельную личность (члена семьи) и связей между ними. Чем старше член семьи, тем выше в схеме он находится. Каждый член семьи может иметь одну связь с отцом и одну связь с матерью и бесконечно много связей с детьми.</p>
<h3>Как создать новый узел?</h3>
<p>Выбрать в меняю "Создать члена семьи", заполнить форму и сохранить изменения. В результате узел отобразится на странице "Семейное дерево"</p>
<h3>Как изменить узел?</h3>
<p>На странице "Семейное дерево" дважды кликнуть на изменяемый узел. Сделать изменения в форме и сохранить результаты, либо удалить узел.</p>
<h3>Визуализация</h3>
<p>Для удобства восприятия родительский узел и его связи с дочерними узлами подсвечиваются одним цветом. Узлы можно перемещать мышью по горизонтали.</p>
<h3>План развития</h3>
<ul>
    <li>Авторизация пользователей</li>
    <li>Возможность работы с несколькими деревьями, скрещивание деревьев</li>
    <li>Расширение атрибутики члена семьи, добавление фотографий и документов.</li>
    <li>Запоминание состояние страницы визуализации дерева</li>
    <li>Инструменты работы со связаннстью и анализом связей</li>
</ul>


