@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Семейное древо</h1>
    <p class="lead">Семейное древо — схематичное представление родственных связей.</p>
    <p><a href="@Url.Action("FamilyTree","Member")" class="btn btn-primary btn-lg">Перейти к дереву</a></p>
</div>
